hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 15px solid cornflowerblue !important;
}

.margin-left{
    margin-left: 43%;
}

.font-style{
    font-size: 25px;
    font-weight: bolder;
    color: blue;
}